@import url('https://lockout.nemika.me/fonts/BerlinSansFB/style.css');

* {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility !important;
}

.animBorderFill:hover > svg > path {
    animation: animBorderFill 1s forwards;
}

@keyframes animBorderFill {
    from {
        stroke-dashoffset: 355;
    }

    to {
        stroke-dashoffset: 0;
    }
}
