@import url('https://lockout.nemika.me/fonts/BerlinSansFB/style.css');

* {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility !important;
}

.animBorderFill:hover > svg > path {
    animation: animBorderFill 1s forwards;
}

@keyframes animBorderFill {
    from {
        stroke-dashoffset: 355;
    }

    to {
        stroke-dashoffset: 0;
    }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  70% {
    transform: scale(1.6);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
