.makeYourPicksSvg {
    animation: strokeAnimation 2s ease-in-out forwards;
}

@keyframes strokeAnimation {
    0% {
        stroke-dashoffset: 123;
    }

    100% {
        stroke-dashoffset: 55;
    }
}